@import (css) "../../dist/style/wxui.wxss";
@import (reference) "../../utils/util.less";

.userinfo {
  .flex();
  flex-direction: column;
  align-items: center;
}

.avatar{
  width: ~"128rpx";
  height: ~"128rpx";
  margin: ~"20rpx";
}

.userinfo-avatar {
  &:extend(.avatar);
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
}

.show{
  .flex();
}

.hide{
  display: none;
}

.userinfo-avatar-sm {
  width: ~"32rpx";
  height: ~"32rpx";
  margin: ~"20rpx";
  border-radius: 50%;
}

.userinfo-avatar-md {
  width: ~"64rpx";
  height: ~"64rpx";
  margin: ~"20rpx";
  border-radius: 50%;
}

.avatar-card {
  .flex();
  .avatar-image{
    width: ~"128rpx";
    height: ~"128rpx";
  }
  .avatar-info {
    margin:~"0 0 0 20rpx";
    font-size:~"30rpx";
    .flex-size(1);
    .avatar-info-nickname{
      color:@color-nickname
    }
    .avatar-info-book{
      font-size: smaller;
      color:@color-book;
      .flex();
      .avatar-info-book-item{
        .flex-size(1);
      }
    }
    .avatar-info-badge{
      .flex();
      margin: ~"0 300rpx 0 0";
      font-size: smaller  ;
      color:@color-badge;
      .avatar-info-badge-item{
        .flex-size(1)

      }
    }
  }
}

.badge-1{
  color:@color-badge-1;
}

.badge-2{
  color:@color-badge-2;
}

.badge-3{
  color:@color-badge-3;
}

.book-describe{
  .flex();
  .flex-flow(row);
  .align-items(center) ;
  .book-image{
    .flex-size(2);
  }
  .book-info{
    .flex-size(3);
    .book-info-items{
      .flex();
      .flex-flow(column);
      .justify-content(center);
      .align-items(center);
      .book-info-item{
        .flex-size(1);
        padding:~"20rpx";
      }
    }
  }


}

.button-items{
  .flex();
  .flex-flow(row);
  button{
    padding:~"20rpx";
  }
}